<div
  style="
    width: 500px;
    border: 1px solid blueviolet;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    top: 10px;
  "
>
  <!-- sign up form -->
  <form action="/users/create" method="POST">
    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input
          type="text"
          name="name"
          class="form-control"
          id="name"
          required
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          type="email"
          name="email"
          class="form-control"
          id="inputEmail3"
          required
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label"
        >Password</label
      >
      <div class="col-sm-10">
        <input
          type="password"
          name="password"
          class="form-control"
          id="inputPassword3"
          required
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="confirmpassword" class="col-sm-2 col-form-label"
        >Confirm Password</label
      >
      <div class="col-sm-10">
        <input
          type="password"
          name="confirm_password"
          class="form-control"
          id="confirmpassword"
          required
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
